#show_post_div.container
 #main
  #user_profile_div.div.profile 
   =image_tag @post.user.profilepic
   =@post.user.name
  #title_div.div.text-center
   %p= @post.title
  #content_div.div
   = @post.content
  -if @post.Postimage?
   #image_div.div
    .image
    = image_tag (@post.Postimage.url) if @post.Postimage? 
 #index_comment_div 
  %h2.comment_conts= pluralize(@post.comments.count,"Comment")
  - @comment.find_each do |c|
   #single_comment_div
    =link_to image_tag(c.user.profilepic),c.user
    =link_to (c.user.name+': ') , c.user
    = c.content 
    -if user_signed_in?
     = link_to 'destroy' , [c.post, c], method: :delete
     =link_to 'edit ' , edit_post_comment_path(c.post,c)
  = render 'comments/form'



 -if(user_signed_in?)
  -if (current_user.email==@post.user.email)
   = link_to 'edit' , edit_post_path(@post)
   = link_to 'delete' , post_path(@post) , method: :delete, data: {confirm: 'Are you sure ?'}
  
 -else
  =link_to 'Sign In' ,  user_session_path